1pocA_GEL
1j0nA_CEG
1eqcA_CTS
1nmlA_CIT
1mv9A_HXA
1qfmA_CSD
1njiE_NA
1adoB_13P
1i2kA_PLP
1lspA_BUL
1lcsA_NAG
1f0pA_MES
1byhA_BGC
1ti0A_IMN
1kxhA_ACR
1ew9B_MMQ
1u3eM_EDO
1o75B_PDX
1e86A_CMO
1qjwB_GLC
1qa7A_IVF
1epbB_9CR
1pdaA_ACY
1wm1A_PTB
1llpA_A2G
1oe3A_PCA
1pubA_3PH
1lf7A_CIT
1oarH_AZN
1sliA_DAN
1u1jA_C2F
1aluA_SO4
1gkmA_MDO
1esdA_VXA
1ofcX_G4D
1nowA_GOL
1pz4A_PLM
1felA_FEN
1q35A_EDO
1od3A_ACY
1a8tA_061
1ttuA_EDO
1ohtA_EDO
1dy7A_CMO
1iupA_ALQ
1nd5A_1PE
1ku0A_CA
1hfcA_PLH
1dx4A_BMA
1kzpB_ACY
1arcA_TCK
1f5fA_DHT
1k2vA_DEF
1p3uA_HEM
1cv8A_ACT
1xzlA_HEE
1oh4A_BMA
1o7sA_CYS
1qdnA_BME
1e7pC_HEM
1oznA_ACY
1qftB_HSM
1nlnA_ACY
1kqwA_RTL
1knuA_YPA
1t56A_DIO
1cwvA_CIT
1nu4A_MLA
1nx8A_AKG
1pf3A_C2C
1tf0A_CIT
1h2yA_GOL
1dk0A_HEM
1k3xA_GOL
1v7rA_CIT
1gklA_ACT
1ubxA_FPP
1ed1A_IPA
1kxgA_CIT
1ollA_EDO
1nnfA_EDT
1kndA_CAQ
1djeA_PLP
1dgpB_AFOH
1wmdA_DIO
1iwnA_PG5
1n1tA_DAN
1u0xA_HEM
1dkqA_IHP
1cpcB_CYC
1g0tA_PEG
1p2zA_CIT
1qjiA_PKF
1kmiY_BEF
1j58A_FMT
1fq5A_0GM
